<!--
/**
 * Professio\Inboxify extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 * https://gitlab.com/inboxify/inboxify-mag2/blob/master/LICENSE
 * 
 * @category       Professio
 * @package        Professio\Inboxify
 * @copyright      Copyright (c) 2017
 * @license        https://gitlab.com/inboxify/inboxify-mag2/blob/master/LICENSE
 */
-->
<!-- ko if: visible -->
    <div class="field">
        <div class="control">
            <!-- ko if: changeable -->
                <input class="input-text"
                       type="checkbox"
                       data-bind="
                                    textInput: 1,
                                    checked: checked"
                       name="newsletter-subscribe"
                       id="newsletter-subscribe" />
                <label class="label" for="newsletter-subscribe">
                    <span data-bind="i18n: checkoutLabel"></span>
                </label>
            <!-- /ko -->
            <!-- ko ifnot: changeable -->
                <input type="checkbox"
                       id="newsletter-subscribe-disabled"
                       disabled="disabled"
                       checked="checked"/>
                <label class="label" for="newsletter-subscribe-disabled">
                    <span data-bind="i18n: checkoutLabel"></span>
                </label>
            <!-- /ko -->
        </div>
    </div>
<!-- /ko -->
