<div class="content-header">
    <h3 class="icon-head head-adminhtml-import"><?php echo __('Inboxify Export') ?></h3>
    <p class="form-buttons">
        <button id="iy_export_customers" title="<?php echo __('Export Customers') ?>" type="button" class="scalable save" onclick="window.location = '<?php print $block->getExportCustomersUrl() ?>'; return false;">
            <span><span><span><?php echo __('Export Customers') ?></span></span></span>
        </button>
        <button id="iy_export_customers_unreg" title="<?php echo __('Export unregistered Customers') ?>" type="button" class="scalable save" onclick="window.location = '<?php print $block->getExportUnregisteredUrl() ?>'; return false;">
            <span><span><span><?php echo __('Export unregistered Customers') ?></span></span></span>
        </button>
        <button id="iy_export_subscribers" title="<?php echo __('Export Newsletter Subscribers') ?>" type="button" class="scalable save" onclick="window.location = '<?php print $block->getExportSubscribersUrl() ?>'; return false;">
            <span><span><span><?php echo __('Export Newsletter Subscribers') ?></span></span></span>
        </button>
    </p>
</div>
