<?php
/**
 * Professio\Inboxify extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 * https://gitlab.com/inboxify/inboxify-mag2/blob/master/LICENSE
 * 
 * @category       Professio
 * @package        Professio\Inboxify
 * @copyright      Copyright (c) 2017
 * @license        https://gitlab.com/inboxify/inboxify-mag2/blob/master/LICENSE
 */

/**
 * Newsletter subscription management
 * 
 * @category   Professio
 * @package    Professio\Inboxify
 */
?>

<form class="form form-newsletter-manage form-inboxify-manage" 
    action="<?php echo $block->getAction() ?>" 
    method="post" id="form-validate">
    <fieldset class="fieldset">
        <?php echo $block->getBlockHtml('formkey')?>
        <legend class="legend"><span><?php echo __('Subscription option') ?></span></legend><br>
        <div class="field choice">
            <input type="checkbox" name="inboxify_subscribe"
                id="inboxify-subscribe" value="1" 
                title="<?php echo __('General Subscription') ?>"
                <?php echo $block->isSubscribed() ? ' checked="checked"' : null ?> 
                class="checkbox">
            <label for="inboxify_subscribe" class="label">
                <span><?php echo __('Subscribed to newsletter?') ?></span>
            </label>
        </div>
        <?php echo $block->getChildHtml('customer.form.newsletter.extra')?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="<?php echo __('Save') ?>" 
                class="action save primary">
                <span><?php echo __('Save') ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" 
                href="<?php echo $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?php echo __('Back') ?></span>
            </a>
        </div>
    </div>
</form>
