<?php
/**
 * Professio\Inboxify extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 * https://gitlab.com/inboxify/inboxify-mag2/blob/master/LICENSE
 * 
 * @category       Professio
 * @package        Professio\Inboxify
 * @copyright      Copyright (c) 2017
 * @license        https://gitlab.com/inboxify/inboxify-mag2/blob/master/LICENSE
 */

/**
 * Mini subscribe widget
 * 
 * @category   Professio
 * @package    Professio\Inboxify
 */

if (!$block->getConfigHelper()->isAdvancedFrontendEnabled()) {
    return '';
}

$style = $block->isSignupHidden() ? ' style="display: none"' : null;
$checked = $block->getFormData()->getIyIsSubscribed() || $block->isSignupChecked() ? ' checked="checked"' : null;
?>
<div class="field choice newsletter inboxify"<?php print $style ?>>
    <input type="checkbox" name="iy_is_subscribed" title="<?php /* @escapeNotVerified */ echo __('Sign Up for Newsletter') ?>" value="1" id="iy_is_subscribed"<?php print $checked ?> class="checkbox">
    <label for="iy_is_subscribed" class="label"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Newsletter') ?></span></label>
</div>
